.div {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.list {
    list-style: none;
    padding: 0;
}

.item {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}